*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-image: url(../img/fondooo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

div{
    width: 100%;
    overflow: hidden;
    position: relative;
    
}

header img{
float: left;
width: 20%;
height: 10vh;
}

nav ul li {
    width: 20%;
    height: 10vh;
    padding: 2%;
    float: left;
    overflow: hidden;
    text-align: center;
    color: orangered;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial;
    
}
nav ul li:hover{
 border: orangered 2px solid;
 text-decoration: underline;
}

nav{
    overflow: hidden;
}
.deco1{
    background-image: url(../img/deco1.jpg);
    height: 270px;
    background-attachment: fixed;
    width: 100%;
    position: relative;
}

h2{
    color: orangered;
margin-left: 10%;
text-align: center;
}

p{
    color: white;
    margin-top: 20px;
    border: orangered 2px solid;
    height: 200px;
    font-family: Arial;
    padding: 10px;
    font-size: 15px;
}

img{
    height: 180px;
}

.seccion1{
margin-top: 100px;
overflow: hidden;
}

.seccion1 article{
    float: left;
    width:50%;
    padding: 10px;
}

.articulo-foto{
    margin-top: 20px;
}

button{
    color: black;
    background-color: orangered;
    border: solid 2px black;
    width: 48%;
    font-family: Arial;
    position: relative;
    top: -25px;
}

h2:hover{
    text-decoration: underline;
}

button:hover{
    background-color: black;
    color: orangered;
    border: solid orangered 2px;
}

.seccion2{
    float: left;
overflow: hidden;
}

.seccion2 article{
float: left;
width: 50%;
padding: 10px;
}

.seccion3{
    float: left;
overflow: hidden;
}

.seccion3 article{
float: left;
width: 50%;
padding: 10px;
}

main{
    overflow: hidden;
}

footer{
    /*clear: both; PARA QUE NO FLOTE SIN MAIN*/
    color: white;
    background-color: rgba(99, 99, 99, 0.637);
    text-align: center;
}


@media (max-width: 576px) { 
    .encabezado{
        width: 50%;
    }
 }


@media (max-width: 768px) { 
    header img{
        float: none;
        text-align: center;
        width: 100%;
    }
    .deco1{
        display: none;
    }

 }


@media (max-width: 992px) { 
   body{
       font-size: 1.3em;
   }
    h2{
        width: 100%;
        text-align: center;
        margin-left: 0;
        text-align: 1.3em;
    }
    .seccion1 article{
        float: none;
        width: 100%;
        text-align: center;
    }
    .seccion2 article{
        text-align: center;
        float: none;
        width: 100%;
    }
    .seccion3 article{
        text-align: center;
        float: none;
        width: 100%;
    }
 }


